<main class="main">
  <section class="presentation">
    <aside class="text-presentation">
      <img
        src="/assets/BarbaraLogoClara.png"
        alt="Logo Nutricionista Bárbara Medeiros"
        class="logo"
      />
      <aside class="box-text-presentation">
        <h1>
          Antes de mudar o prato, é preciso <span>olhar</span> pra quem segura o
          garfo.
        </h1>
        <!-- <h1>
          Antes de alterar o cardápio, é fundamental compreender o perfil de
          quem irá consumi-lo.
        </h1> -->
        <p>
          Nutricionista Bárbara Medeiros, referência em Nutrição Hospitalar,
          Comportamental e Esportiva, em Brasília-DF.
        </p>
        <a href="">Agendar minha consulta</a>
      </aside>
    </aside>
    <aside class="img-presentation"></aside>
  </section>
</main>
